.App {
  text-align: center;
  background-color: #5d616b;
  min-width: 90%;
  min-height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.App-header {
  background-color: #282c34;
  color: white;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 28px;
  position: fixed;
  right: 0px;
  left: 0px;
  top: 0px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.screen {
  width: 100%;
  padding-top: 150px;
}

.box {
  background-color: #3d3f44;
  border: 1px solid #282c34;
  width: 90%;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  box-shadow: 0px 1px 18px 3px #282c34;
}

.box-title {
  background-color: #2e2f33;
  padding: 10px 15px;
  text-align: left;
  font-size: 22px;
  color: #61dafb;
  text-transform: uppercase;
  font-weight: 900;
}

.box-content {
  color: white;
  min-height: 300px;
  min-width: 90%;
  text-align: left;
  padding: 20px;
}
